<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Creel needs camera access to photograph your catches</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Creel needs location access to log fishing spots</string>
</dict>
</plist>